body {
    font-family: "Nunito", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    min-height: calc(100vh - 200px);
    padding: 1rem;
}

footer {
    background-color: var(--color-text);
    *, a {
        color: var(--color-secondary);
    }
}

nav.navbar {
    position: sticky;
    z-index: 10;
    background: rgba(255, 255, 255, 0.46) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.5);

    a {
        letter-spacing: 2px;
        &.navbar-brand {
            text-decoration: none;
        }
    }
}

a,
nav.navbar a {
    color: var(--color-text);
    transition: color 0.3s ease;
    font-weight: 600;

    &:hover {
        color: var(--color-primary);
    }
}

section {
    padding: 1rem;
    margin: 1rem 0;
}

.heading {
    font-size: 1.2rem;
}

.btn {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.primary-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);

    &:hover {
        color: var(--color-accent);
        background-color: transparent;
        border: 2px solid var(--color-accent);
    }
}

.secondary-btn {
    color: var(--color-text);
    background-color: transparent;
    border: 2px solid var(--color-text);

    &:hover {
        color: var(--color-secondary);
        background-color: var(--color-accent);
    }
}

.rainbow-btn {
    position: relative;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    z-index: 2;
    backdrop-filter: blur(4px);
    transition: transform 1s ease, box-shadow 0.3s ease;

    &::before,
    &::after {
        content: "";
        background: conic-gradient(
            from var(--angle),
            red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet,
            red
        );
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        padding: 3px;
        border-radius: 8px;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &:hover {
        transform: translateY(-10px) scale(1.2);
        box-shadow: 0px 0px 48px 14px rgb(255, 255, 255, 0.5);

        &::before,
        &::after {
            filter: blur(4px);
            animation: spin-angle 3s ease-in-out infinite;
        }
    }
}

table .pills-cell {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .badge {
        width: 33%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.25rem 0.5rem;
    }
    span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .material-icons {
        font-size: 1em;
        color: var(--color-secondary);
    }
}
