.wrapper, .wrapper-pharmacy::before {
    /* background-attachment:scroll; */
    background-size: contain;
    /* background-position: center; */
    opacity: 0.9;
    z-index: 0;
    height: 100%;
    top: 20%;
    bottom: auto;
    /* overflow: hidden; */
}
.wrapper-pharmacy {
    /* background: no-repeat url('../img/doctor-pointing-to-blank-sign-poster-vector.webp'); */
}
.wrapper {
    background: no-repeat url('../img/doctor-pointing-to-blank-sign-poster-vector.webp');
}

footer {
    height: 5rem;
}

#map1 {
    height: 50%;
    width: auto;
}