.wrapper {
    background: no-repeat url("/images/doctor-pointing-to-blank-sign-poster-vector.webp");
    background-size: contain;
    opacity: 0.9;
    z-index: 0;
    height: 100%;
    top: 20%;
    bottom: auto;
    // /* overflow: hidden; */

    &.pharmacy {
        background: none;
    }
    &::before {
        background-size: contain;
        opacity: 0.9;
        z-index: 0;
        height: 100%;
        top: 20%;
        bottom: auto;
    }
}
